h3{
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    background-color: #ffc107;
    letter-spacing: 0.3rem;
}